/* Global variables */
:root {
  --main-theme-color:   #006CC2; /* NHS blue */
  --main-bg-color:      #FFF;    /* X white */
  --light-blue:         #00A2FF; /* X light blue */
  --mid-blue:           #00A2FF; /* X mid blue */
  --main-font-color:    #646464; /* dark grey */
  --accent-font-color:  #FFF;    /* white */
  --nav-quote-bg-color: #F3F3F3; /* light grey */
  --nav-accent-color:   #DDD;    /* mid grey */
}

@media (prefers-color-scheme: dark) {
    :root {
      --main-theme-color:   #006CC2; /* NHS blue */
      --main-bg-color:      #004851; /* Deep sea blue */
      --light-blue:         #00A2FF; /* X light blue */
      --mid-blue:           #00A2FF; /* X mid blue */
      --main-font-color:    #FFF;    /* white */
      --accent-font-color:  #F3F3F3; /* light grey */
      --nav-quote-bg-color: #7CA2BA; /* cloudy sky blue */
      --nav-accent-color:   #DDD;    /* mid grey */
    }

    img {
        filter: brightness(.8) contrast(1.2);
    }
    }

/* Header and navigation menu */
/* ===================================================================== */

h1 {
  font-family:          Garamond, Times New Roman;
  color:                var(--main-theme-color);
  font-size:            300%;
  padding:              0 20%;
}

.mainNav ul {
  margin:               0;
  padding:              0 20%;
  overflow:             hidden;
  background-color:     var(--nav-quote-bg-color);
  text-decoration:      none;
  list-style-type:      none;
}

.mainNav li {
  float:                left;
}

.mainNav li a {
  display:              block;
  color:                var(--main-font-color);
  text-align:           center;
  padding:              14px 16px;
  text-decoration:      none;
  border-bottom:        solid 6px transparent;
}

.mainNav li a:hover:not(.active) {
  background-color:     var(--nav-accent-color);
  border-bottom:        solid 6px var(--main-theme-color);
}

/* Main styling */
/* ===================================================================== */

body {
  font-family:          "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:                var(--main-font-color);
  font-size:            2em;
  background-color:     var(--main-bg-color);
}

img {
   width:               100%;
   height:              19em;
   object-fit:          cover;
   object-position:     center;
   margin-bottom:       -1.55em;
}

p, ul {
  padding:              1% 5%;
  margin:               0 20% 0 20%;
}

/* Quotations */
/*---------------------------------------------------------------------*/

.quoteAnna {
   padding:             1em 2.5em;
   margin:              0 20% 0 20%;
   display:             block;
}

cite {
    font-size:          0.9em;
}

blockQuote {
    font-size:          0.9em;
    display:            block;
    background-color:   var(--nav-quote-bg-color);
    padding:            2em 2em;
    margin:             0 29% 0 29%;
}

.quoteMark {
  font-family:          Garamond, Times New Roman;
  color:                var(--main-theme-color);
  font-size:            4em;
  line-height:          0.3em;
}

.pullQuote, .embeddedVideo {
    display:            block;
    padding:            2em 2em;
    margin:             0 29% 0 29%;
}

/* Titles */
/*---------------------------------------------------------------------*/

h2 {
  color:                var(--accent-font-color);
  background-color:     var(--main-theme-color);
  padding:              1em 20%;
}

h3, h4 {
  padding:              1% 5%;
  margin:               0 20% 0 20%;
}


/* Biography cards */
/*---------------------------------------------------------------------*/

.bios {
  display:              flex;
  flex-wrap:            wrap;
  justify-content:      space-evenly;
  align-items:          stretch;
  gap:                  2em 0.5em;
  margin:               0 20% 0 20%;

}

.card img {
  width:                100%;
  height:               35%;
  border-radius:        5px 5px 0 0;
}

h5, h6 { margin:        0;}
h5 { padding:           40px 16px 5px 16px;}
h6 { padding:           2px 16px 16px 16px;}

.card p {
  padding:              2px 16px 16px 16px;
  margin:               0;
}

.card {
  box-shadow:           0 4px 8px 0 rgba(0,0,0,0.2);
  transition:           0.3s;
  width:                25%;
  min-width:            400px;
  max-width:            500px;
  font-size:            0.8em;
}

.card:hover {
  box-shadow:           0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  box-shadow:           0 4px 8px 0 rgba(0,0,0,0.2);
  transition:           0.3s;
  border-radius:        5px;
}

/* Footer */
/* ===================================================================== */

footer {
  font-size:            0.75em;
  width:                100%;
  padding:              5% 20% 20% 0;
  background-color:     var(--main-theme-color);
  color:                var(--accent-font-color);
  display:              grid;
  grid-template-columns:5% 1fr 1fr 1fr 1fr 5%;
  grid-auto-columns:    minmax(auto, auto);
}

footer ul, footer p {
  text-decoration:      none;
  list-style-type:      none;
  padding:              .5em;
  margin:               0;
  min-width:            380px;
}

footer a:hover {
  text-decoration:      underline solid 3px;
}

footer a {
  text-decoration:      none;
  color:                var(--accent-font-color);
}

footer img {
  width:                200px;
  height:               200px;
}

#our-pages {
  grid-column-start:    2;
  grid-column-end:      3;
  grid-row-start:       1;
  margin-left:          5%;
}

#our-policies{
  grid-column-start:    3;
  grid-column-end:      4;
  grid-row-start:       1;
}

#get-in-touch{
  grid-column-start:    4;
  grid-column-end:      5;
  grid-row-start:       1;
}

#thanks{
  grid-column-start:    5;
  grid-column-end:      6;
  grid-row-start:       1;
}

#carbon {
  grid-column-start:    2;
  grid-column-end:      6;
  grid-row-start:       2;
  margin-top:           5%;
  }

