:root {
  --nhs-blue: #006CC2;
  --light-accent: #04AA6D;
  --dark-accent: #f3f3f3;
  --mid-accent: #ddd;
}

.mainNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: var(--dark-accent);

}

body {
  font-family: Verdana, Helvetica, Arial;
}

h1 {
  font-family: Georgia, Garamond, Times New Roman;
  color: var(--nhs-blue);
  font-size: 3em;
}

.mainNav li {
  float: left;
}

.mainNav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mainNav li a:hover:not(.active) {
  background-color: var(--mid-accent);
}


.mainNav li a.active {
  color: white;
  background-color: var(--light-accent);
}