/* Global variables */
:root {
  --nhs-blue:           #006CC2;
  --light-blue:         #00A2FF;
  --mid-blue:           #00A2FF;
  --main-text-grey:     #646464;
  --background-white:   #FFF;
  --pull-quote-grey:    #F8F4F8;
  --light-accent:       #04AA6D;
  --dark-accent:        #f3f3f3;
  --mid-accent:         #ddd;
}

/* Header and navigation menu */
/* ===================================================================== */

h1 {
  font-family: Garamond, Times New Roman;
  color: var(--nhs-blue);
  font-size: 300%;
  padding: 0 20%;
}

.mainNav ul {
  margin:           0;
  padding:          0 20%;
  overflow:         hidden;
  border:           1px solid #e7e7e7;
  background-color: var(--dark-accent);
  text-decoration:  none;
  list-style-type:  none;
}

.mainNav li {
  float:            left;
}

.mainNav li a {
  display:          block;
  color:            #666;
  text-align:       center;
  padding:          14px 16px;
  text-decoration:  none;
}

.mainNav li a:hover:not(.active) {
  background-color: var(--mid-accent);
}

.mainNav li a.active {
  color: white;
  background-color: var(--light-accent);
}

/* Main styling */
/* ===================================================================== */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--main-text-grey);
  font-size: 2em;
}

img {
   width: 100%;
   height: 19em;
   object-fit: cover;
   object-position: center;
   margin-bottom: -1.55em;
}

p, h3, h4, ul {
  padding: 1em 2.5em;
  margin: 0 20% 0 20%;
}

/*section {
    position: absolute;
    bottom: 21.1em;
    font-size: 0.9em;
    display: block;
    width: 60%;
*//*
    max-width: 900px;
*//*
    background-color: rgba(248, 248, 248, 0.5);
    padding: 2em 2em;
    margin: 0 20% 0 20%;
}*/


/* Quotations */
/*---------------------------------------------------------------------*/

.quoteAnna {
   padding: 1em 2.5em;
   margin: 0 20% 0 20%;
   display: block;
}

cite {
    font-size: 0.9em;
}

.pullQuote {
    font-size: 0.9em;
    display: block;
    background-color: var(--pull-quote-grey);
    padding: 2em 2em;
    margin: 0 29% 0 29%;
}

.quoteMark {
  font-family: Garamond, Times New Roman;
  color: var(--nhs-blue);
  font-size: 4em;
  line-height: 0.3em;
}

.pullQuote, .embeddedVideo {
    display: block;
    padding: 2em 2em;
    margin: 0 29% 0 29%;
}

/* Titles */
/*---------------------------------------------------------------------*/



h2 {
  color: var(--background-white);
  background-color: var(--nhs-blue);
  padding: 1em 20%;
}




/* Footer */
/* ===================================================================== */

footer {
    font-size: 0.75em;
    width: 100%;
      max-width: 100%;
      min-width: 100%;
    background-color: var(--mid-blue);
    color: var(--background-white);
}